.idea
.gradle
/dist/
venv
coverage
zont-debug-1.apk
*.pyc
*.sw[po]
_trial_temp/
/storagelog-*
/netlog-*
/data/
env.host

/.mypy_cache/

/pyenv/
/build/
/cmake*
/logs/
/devicefiles/
/zont.sublime-workspace
/node_modules/
/webpack/node_modules/

/.vagrant/
/htmlcov/
/.coverage


*.pyd
/.vscode/tags

.env
*.egg-info
*.epub
books
test.db

static

/webpack/node_modules/
